<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>formvalidator校检</title>
<link href="__PUBLIC__/bootstrap/css/bootstrap.css" rel="stylesheet">
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/plugins/formValidator/formValidator-4.1.3.js"></script>
<script type="text/javascript">
$(function () {
     $.formValidator.initConfig({
       theme:'Default',mode:'AutoTip',formID:"myform",debug:true,submitOnce:true,onSuccess:function(){
             submitForm();
             return false;
      },onError:function(msg){
    }});
    //长度验证
    $("#userName").formValidator({onShow:"",onFocus:"",onCorrect:"输入正确"}).inputValidator({min:3,max:50,onError:"姓名至少3个字符最多30个字符"});
    //身份证验证
    $("#idCard").formValidator({onShow:"",onFocus:"",onCorrect:"输入正确"}).functionValidator({ fun: isCardID }); 
    //正整数验证
    $("#age").formValidator({ onShow: "", onCorrect: "输入正确" }).regexValidator({ regExp: "intege1", dataType: "enum", onError: "正整数格式不正确" }); 
  /* //整数
    $("#zs").formValidator({ onShow: "", onCorrect: "输入正确" }).regexValidator({ regExp: "intege", dataType: "enum", onError: "整数格式不正确" }); 
    //正整数
    $("#zzs").formValidator({ onShow: "", onCorrect: "输入正确" }).regexValidator({ regExp: "intege1", dataType: "enum", onError: "正整数格式不正确" }); 
    //负整数
    $("#fzs").formValidator({ onShow: "", onCorrect: "输入正确" }).regexValidator({ regExp: "intege2", dataType: "enum", onError: "负整数格式不正确" }); 
    //数字
    $("#sz").formValidator({ onShow: "", onCorrect: "输入正确" }).regexValidator({ regExp: "num", dataType: "enum", onError: "数字格式不正确" }); 
    //正数
    $("#zs1").formValidator({ onShow: "", onCorrect: "输入正确" }).regexValidator({ regExp: "num1", dataType: "enum", onError: "正数格式不正确" }); 
    //负数
    $("#fs").formValidator({ onShow: "", onCorrect: "谢输入正确" }).regexValidator({ regExp: "num2", dataType: "enum", onError: "负数格式不正确" }); */
    //邮箱验证
    $("#email").formValidator({ onShow: "", onfocus: "输入的email格式不正确", onCorrect: "输入正确" }).regexValidator({ regExp: "email", dataType: "enum", onError: "email格式不正确" }); 
    //手机验证
    $("#phone").formValidator({ onShow: "", onfocus: "输入的手机号码格式不正确", onCorrect: "输入正确" }).regexValidator({ regExp: "mobile", dataType: "enum", onError: "手机号码格式不正确" }); 
    //验证格式并ajax验证账号是否存在
    // $("#loginName").formValidator({onShow:"",onFocus:"会员账号应该为5-16字母、数字或下划线",onCorrect:"输入正确"}).inputValidator({min:5,max:16,onError:"会员账号应该为5-16字母、数字或下划线"}).regexValidator({
    //            regExp:"username",dataType:"enum",onError:"会员账号格式错误"
    //     }).ajaxValidator({
    //         dataType : "json",
    //         async : true,
    //         url : "__ROOT__/index.php/Admin/Users/checkLoginKey/",
    //         success : function(data){
    //             var json = WST.toJson(data);
    //             if( json.status == "1" ) {
    //                 return true;
    //             } else {
    //                 return false;
    //             }
    //             return "该账号已被使用";
    //         },
    //         buttons: $("#dosubmit"),
    //         onError : "该账号已存在。",
    //         onWait : "请稍候..."
    //     }).defaultPassed();
});
function submitForm(){
    //add what you want to do
    // $("#myform").submit();
}
</script>
<style type="text/css">
  #myform table{min-width:600px;width:60%;}
  .formInput{display:inline-block;}
  #btn button{margin-left: 100px}
</style>
</head>
<body>
<h2 style="padding-left: 10px">formvalidator校检</h2>
<div class='wst-tbar' style="height:50px;padding-left: 10px">
<form  id="myform" method="post" action="{:U('Home/Index/submitForm','','')}" enctype="multipart/form-data">
    <table class="table table-striped table-bordered table-hover">
       <tbody>
         <tr><td style="width:100px">姓名<font color='red'>*</font></td> <td><input id="userName" type="text" class="form-control formInput" style="width:50%" /></td></tr>
         <tr><td style="width:100px">身份证<font color='red'>*</font></td> <td><input id="idCard" type="text" class="form-control formInput" style="width:50%" /></td></tr>
         <tr><td style="width:100px">年龄<font color='red'>*</font></td> <td><input id="age" type="text" class="form-control formInput" style="width:50%" /></td></tr>
         <tr><td style="width:100px">邮箱<font color='red'>*</font></td> <td><input id="email" type="text" class="form-control formInput" style="width:50%" /></td></tr>
         <tr><td style="width:100px">手机<font color='red'>*</font></td> <td><input id="phone" type="text" class="form-control formInput" style="width:50%" /></td></tr>
         <tr id="btn"><td colspan="2"><button class="btn btn-danger" type="submit">保&nbsp;存</button><button type="button" class="btn btn-primary">返&nbsp;回</button></td></tr>
       </tbody>
    </table>
</form>
</div>
</body>
</html>   